
<div class="footnov" id="myFootnav" style="position: {% block footer%}{% endblock %}; bottom: 0; width: 100%;">
    <a href="" >Follow me : </a>

    <a href="https://www.facebook.com/vatsal.parasaniya" style="background: #3B5998; color: white;" class="fa fa-facebook"></a>
    <a href="https://github.com/Vatsalparsaniya" style="background: black; color: white;" class="fa fa-github"></a>
    <a href="https://twitter.com/VatsalParsaniya" style="background: #55ACEE; color: white;" class="fa fa-twitter"></a>
    <a href="https://www.linkedin.com/in/vatsal-parsaniya/" style="background: #007bb5; color: white;" class="fa fa-linkedin"></a>
  </div>
  
  