<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/header_file.css">
<link rel="stylesheet" type="text/css" href="/static/footer_file.css">
<link rel="stylesheet" type="text/css" href="/static/main.css">

</head>
    <body style="background-color:rgb(127, 195, 255);">
    {% include "header.html" %}
    <div id="loader">
        <p class="glow">Speech to Text Conversion</p>
        <div>
            <form action="/audio_to_text/"><button class="registerbtn button3"><span>Convert Speech to Audio</span></button></form>
        </div>
        
    </div>
    </body>
    {% extends "footer.html" %}
    {% block footer%}fixed{% endblock %}
</html>
